* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #e9f7ff;
  color: #333;
}

main {
  min-height: 90vh;
}
